nav {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 11px 27px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 32px;
    display: flex;
    gap: 13px;
    border-radius: 48px;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 14px;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 17px;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}